<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="center-page">

<div class="login-card">

    <h2>Digital Canteen Ordering System</h2>

    {% if error %}
        <div class="error">{{ error }}</div>
    {% endif %}

    <form method="POST" class="login-form">

    <div class="inputs">
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
    </div>

    <button type="submit" class="login-btn">Login</button>

    </form>

</div>

</body>
</html>